/*! CSS bare bones for recipes site */

 html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */



.recipeshome p {
 margin-top: 0;
 width: 92%;
}

.recipeshome h2 {
margin-top: 40px;
}

.recipelist h1 a {
  color:rgba(203, 103, 56, 0.964);
  text-decoration: none;
  text-align: center;
  text-decoration-color: black;
  
}

.recipelist header h1 a {
  color:rgb(251, 245, 234);
}


.recipe h1 a{
color:rgb(251, 245, 234);
text-decoration: none;
}

.recipe h1 a:hover{
  color:rgb(211, 234, 251);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(221, 194, 75);
  margin-bottom: 40px;
}

footer {
  text-align: center;
  margin-top: 5px;
  padding: 10px;
}

.home img {
  width: 100%;
  margin-bottom: 20px;
}

body {
  background-color: rgb(211, 234, 251);
  margin-top: 120px;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color:rgb(251, 245, 234);
  margin-bottom: 12px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

header h1 a:hover {
color:rgb(211, 234, 251);
text-decoration: none;
}

h1 a:hover { 
  color:rgb(221, 194, 75);
}

h2 {
  margin-top: 30px;
  color:rgba(203, 103, 56, 0.964);
  padding-bottom: 10px;
}

p {
  color: rgb(55, 52, 52);
  margin-bottom: 10px;
  padding-left: 10px;
  
}

ul {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  columns: 2;
}

nav ul{
  columns: 1;
  list-style: none;
  margin-left: 3px;
  margin-right: 0;
font-style: bold;
font-size: 0.9rem;
}
 
nav ul a{
  color:rgba(140, 48, 6, 0.964);
  text-decoration: none;
  font-style: bold; 
font-size: 1;
}

nav ul a:hover{
color:rgb(211, 234, 251);
}

nav {
  display: block;
  /* border: 1px solid red; */
  width: 18%;
  padding: 10px;
  margin: 0;
min-width: 120px;
position:fixed;
top:7.5em;
left:0;
z-index: 12;
}

ol {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 85%;
}

li {
  font-size: .9em;
  margin-bottom: 12px;
}

main {
  width: 60%;
  max-width: 850px;
  /* border:1px solid green; */
  padding:0 20px 0 20px;
  margin:0 auto;
  background-color: rgb(251, 245, 234);
  overflow: auto;
}

img {
  width:100%;
  float:right;
  margin-bottom: 20px;
  margin-top: 20px;
}


.caption {
  width:50%;
  text-align: right;
  font-size: .8em;
}

button {
  font-size:larger;
  background-color: rgb(221, 194, 75);
  padding: 8px;
  display: block;
  float: right;
  margin-bottom: 20px;
}

button a{
  color:rgb(55, 52, 52);
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
}

button a:hover {
  color:rgb(211, 234, 251);
}


.recipe-teaser {
border: 2.5px solid rgb(211, 234, 251);
flex-basis: 300px;
flex-grow: 1;
padding: 1em;
margin: 1em;
}

.list {
  flex-wrap: wrap;
  display: flex;
}

@media screen and (max-width: 600px) {

nav {
  width: 100%;
  margin:0;
  position: static;
}

nav ul {
  font-size: 0.9rem;

}

main {
  width: 100%;
}

}

nav {
  background-color:rgb(221, 194, 75);
  padding: 5px;

}

