/*! CSS bare bones for recipes site */

 html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */



.recipehome p {
 margin-top: 0;
}

.recipelist h1 {
  color: black;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(221, 194, 75);
  margin-bottom: 40px;
}

footer {
  text-align: center;
  margin-top: 5px;
}

.home img {
  width: 100%;
  margin-bottom: 20px;
}

body {
  background-color: rgb(211, 234, 251);
  margin-top: 120px;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color:rgb(251, 245, 234);
  margin-bottom: 12px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

h2 {
  margin-top: 30px;
  color:rgba(211, 70, 5, 0.964);
  padding-bottom: 10px;
}

p {
  color: rgb(55, 52, 52);
  margin-bottom: 10px;
  padding-left: 10px;
}

ul {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 30px;
  columns: 2;
}

ol {
  margin-left: 30px;
}

li {
  font-size: .9em;
  margin-bottom: 12px;
}

main {
  width: 60%;
  max-width: 850px;
  /* border:1px solid green; */
  padding:0 20px 0 20px;
  margin:0 auto;
  background-color: rgb(251, 245, 234);
  overflow: auto;
}

img {
  width:100%;
  float:right;
  margin-bottom: 20px;
}

.caption {
  width:50%;
  text-align: right;
  font-size: .8em;
}
